<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header bg-dark">
			  		<h5 class="card-title">Ordenes Totales</h5>
			  	</div>
			  	<div class="card-body bg-white">
			    	<h3 class="card-title text-dark">{{total_ordenes}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header bg-dark">
			  		<h5 class="card-title">Ordenes Entregadas</h5>
			  	</div>
			  	<div class="card-body bg-white">
			    	<h3 class="card-title text-dark">{{entregado}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header bg-dark">
			  		<h5 class="card-title">Ordenes Pendientes</h5>
			  	</div>
			  	<div class="card-body bg-white">
			    	<h3 class="card-title text-dark">{{pendiente}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>